@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-background: #f4f4f4;
  --color-primary: #284b63;
  --color-secondary: #161616;
  --color-accent: #ca054d;
  --color-popup: #fbfbfb;
  --color-border: #d4d4d4;
}

/* Dark Mode */
[data-theme="dark"] {
  --color-background: #161616;
  --color-primary: #7a83e6;
  --color-secondary: #f4f4f4;
  --color-accent: #ca054d;
  --color-popup: #1e1e1e;
  --color-border: #282a36;
  color-scheme: dark;
}

body {
  background: var(--color-background);
  overflow-x: hidden;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}

p {
  font-size: 16px;
  color: var(--color-secondary);
  font-family: "Poppins", sans-serif;
}

ul,
ol {
  list-style: disc;
  font-size: 16px;
  padding-left: 1.5rem; /* 24px */
  margin-top: 0.5rem; /* 8px */
  margin-bottom: 0.5rem; /* 8px */
}

input {
  font-family: "Poppins", sans-serif;
  cursor: text;
}

textarea {
  font-family: "Poppins", sans-serif;
  cursor: text;
}

select,
button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

h1 {
  font-size: 2.5rem; /* 40px */
}

h2 {
  font-size: 1.5rem; /* 32px */
}

h3 {
  font-size: 1.35rem; /* 28px */
}

h4 {
  font-size: 1.3rem; /* 24px */
}

h5 {
  font-size: 1.25rem; /* 20px */
}

h6 {
  font-size: 1.125rem; /* 18px */
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.25rem; /* 40px */
  }

  h3 {
    font-size: 2rem; /* 34px */
  }

  h4 {
    font-size: 1.75rem; /* 30px */
  }

  h5 {
    font-size: 1.5rem; /* 24px */
  }

  h6 {
    font-size: 1.125rem;
  }

  p {
    font-size: 16px;
  }

  ul,
  ol {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.75rem;
  }

  h6 {
    font-size: 1.25rem;
  }

  .gradient-border {
    padding: 0.6em 1.75em;
  }

  p {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2.25rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.25rem; /* 24px */
  }
}

@layer utilities {
  .btn {
    @apply bg-primary font-semibold text-white px-3 py-2 lg:px-4 rounded-[10px] hover:bg-primary transition-all duration-300 text-[16px] lg:text-[18px] shadow-md;
  }
}
